.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1000;
}

.navbar-text {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  padding: 5px;
}

.navbar-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.navbar-text:hover::after,
.navbar-text:active::after,
.navbar-text.selected::after {
  width: 100%;
}

.navbar-link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
}

.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.navbar-link:hover::after,
.navbar-link:active::after {
  width: 100%;
}

/* Tablette et Desktop */
@media (min-width: 768px) {
  .navbar {
    padding: 0 32px;
    height: 72px;
  }

  .navbar-text {
    font-size: 19px;
  }
}
